*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: right;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav >h1{
    margin: 20px 10px;
}

#Svt-mbrs{
    width: 100%;
    margin: 20px auto 0 auto;
    height: calc(100vh - 120px);
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.mbr{
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 10px 20px;
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.mbr:hover{
    box-shadow: 0 0 10px 0 goldenrod;
    cursor: pointer;
}



.mbr img{
    display: block;
    margin: 4px auto;
    border-radius: 5px;
    width: 20vw;
    height: calc(20vw * 1.5);
    object-fit: cover;
}

.mbr h1{
    display: inline;
    margin: 20px 0 5px 10px;
    font-size: calc(1rem + 1vw);
}

.mbr h3{
    display: inline;
    margin: 0px 0 2px 10px;
    font-size: calc(0.5rem + 0.5vw);
    color: gray;
}

.mbr h2{
    font-weight: bold;
    margin: 0 0 10px 10px;
    font-size: calc(0.5rem + 1vw);
}

@media screen and (max-width: 479px){
    .mbr{
        width: 35%;
    }
    .mbr img{
        width: 30vw;
        height: calc(30vw * 1.5);
    }
}
    