*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: right;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav >h1{
    margin: 20px 10px;
}

#Svt-mbrs{
    width: 100%;
    margin: 20px auto 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.mbr{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content:space-evenly;
    margin: auto 20px;
    height:calc(100vh - 120px);
    max-height: 550px ;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.isbias{
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 10;
    background-color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-weight: bold;
}
.mbr:hover{
    box-shadow: 0 0 10px 0 goldenrod;
    cursor: pointer;
}



.mbr img{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 18vw;
    height: calc(18vw * 1.5);
    object-fit: cover;
}

h1{
    display: inline;
    margin: 20px 0 5px 10px;
    font-size: calc(1rem + 1vw);
}

.mbr h3{
    display: inline;
    margin: 0px 0 2px 10px;
    font-size: calc(0.5rem + 0.5vw);
    color: gray;
}

h2{
    font-weight: bold;
    margin: 0 0 10px 10px;
    font-size: calc(0.5rem + 1vw);
}

@media screen and (max-width: 479px){
    #Svt-mbrs{
        overflow: auto;
        height: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .mbr{
        width: 40%;
        height: auto;
        margin: 20px 10px;
        padding: 4px 5px;
    }
    .mbr img{
        margin: 5px auto;
        width: 30vw;
        height: calc(30vw * 1.5);
    }
}
    